{% extends "templates/app.twig" %}

{% block title %}Search Results{% endblock %}

{% block content %}

    <div class="container" id="results">
        <div class="row">
            <div class="col-12 text-center">
                <p class="h6">Results for {{ query }} in {{ Params.type }}...</p>
            </div>
        </div>
    </div>

    {% if debugMode == 'yes' %}
        <div class="spacer"></div>
        <div class="container" id="debug">{{ dump() }}</div>
        <div class="spacer"></div>
    {% endif %}

{% endblock %}
