
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="topNav">
            <div class="container">

                <a class="navbar-brand" data-aos-offset="0" data-aos="zoom-in-right" href="{{ BaseUrl }}">
                    <img class="img-fluid" src="{{ BaseUrl }}/images/logo_65x65.png" width="65" height="65" alt="Elite Mining Repair">
                    <span class="h4">Elite Mining Repair</span>
                </a>

                <div class="collapse navbar-collapse" id="navMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" data-aos-offset="0" data-aos="zoom-in-left">
                            <a class="h5 nav-link active" href="#about">About</a>
                        </li>
                        <li class="nav-item" data-aos-offset="0" data-aos="zoom-in-left">
                            <a class="h5 nav-link" href="#photos">Gallery</a>
                        </li>
                        <li class="nav-item" data-aos-offset="0" data-aos="zoom-in-left">
                            <a class="h5 nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
